.card:not(:last-child) {
  margin-bottom: $default-padding;
}

.card {
  border-radius: $radius-large;
  border: $card-border;

  &.has-table {
    .card-content {
      padding: 0;
    }
    .b-table {
      border-radius: $radius-large;
      overflow: hidden;
    }
  }

  &.is-card-widget {
    .card-content {
      padding: $default-padding * .5;
    }
  }

  .card-header {
    border-bottom: 1px solid $base-color-light;
  }

  .card-content {
    hr {
      margin-left: $card-content-padding * -1;
      margin-right: $card-content-padding * -1;
    }
  }

  .notification.is-card-toolbar {
    border-radius: 0;
    padding-left: $default-padding * .5;
    padding-right: $default-padding * .5;
    margin-bottom: 0;

    .button.has-checked-rows-number {
      span:last-child {
        margin-left: $default-padding * .25;
      }
    }
  }

  .is-widget-icon {
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .is-widget-label {
    .subtitle {
      color: $grey;
    }
  }
}
